[submodule "src/modules/mavlink/mavlink"]
	path = src/modules/mavlink/mavlink
	url = https://github.com/mavlink/mavlink.git
	branch = master
# [submodule "Tools/simulation/jmavsim/jMAVSim"]
# 	path = Tools/simulation/jmavsim/jMAVSim
# 	url = https://github.com/PX4/jMAVSim.git
# 	branch = main
[submodule "Tools/simulation/gazebo-classic/sitl_gazebo-classic"]
	path = Tools/simulation/gazebo-classic/sitl_gazebo-classic
	url = https://github.com/griimmm/PX4-SITL_gazebo-classic.git
	branch = proj_dev
[submodule "src/drivers/gps/devices"]
	path = src/drivers/gps/devices
	url = https://github.com/PX4/PX4-GPSDrivers.git
	branch = main
[submodule "src/lib/events/libevents"]
	path = src/lib/events/libevents
	url = https://github.com/mavlink/libevents.git
	branch = main
[submodule "src/modules/uxrce_dds_client/Micro-XRCE-DDS-Client"]
	path = src/modules/uxrce_dds_client/Micro-XRCE-DDS-Client
	url = https://github.com/PX4/Micro-XRCE-DDS-Client.git
	branch = px4
[submodule "src/lib/heatshrink/heatshrink"]
	path = src/lib/heatshrink/heatshrink
	url = https://github.com/PX4/heatshrink.git
	branch = px4
# [submodule "Tools/simulation/gz"]
# 	path = Tools/simulation/gz
# 	url = https://github.com/PX4/PX4-gazebo-models.git
# 	branch = main
